@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ab3434;
    height: 100vh;
}

body, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 620px;
    margin: 0 auto;
    border: 8px solid #1c1919;
    border-radius: 20px;
    background-color:#0e367c;
}

#displayText {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    margin-top: 20px;
    border: 5px solid #4874bf;
    border-radius: 15px;
    font-family: "Electrolize", Arial, Helvetica, sans-serif;
    font-size: 35px;
    overflow: hidden;
    background-color: #d2d4e1;
}

.calc >* {
    font-size: 30px;
}

.calc {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    border: 5px solid #4874bf;
    border-radius: 15px;
    padding: 10px 10px;
    background-color: #ededed;
}

button {
    width: 70px;
    height: 70px;
    margin: 5px 0;
    border-radius: 50%;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    color: white;
    background-color: #666666;
}

button#zero {
    width: 45%;
    height: 70px;
    border-radius: 30px;
}

button.nan, button.operator, button.equal {
    color: white;
    background-color: #f44242;
}

button#clear {
    width: 45%;
    height: 70px;
    border-radius: 30px;
    background-color:#fba257;
}

footer {
    margin-top: 50px;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ededed;
}


